@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
body{
    font-family: Merriweather, sans-serif;
    color: #000000;
    
}
/* Headings and logo */
h1, h2{
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
}
#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
/* Header and navigation links */
header {
    background-color: #FF7F3F;
    width: 100%;
    height: auto;
    display: inline-block;
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
}
#logo, #menu{
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border: 1px solid #000000;
    background-color: white;
}
.active{
    border: 1px solid #000000;
    background-color: white;
}
/* Hero image and cover text */
#hero {
    display: flex;
}
#hero-img{
    height: 380px;
    width: auto;
    background: url(./assets/images/hero-img.webp) no-repeat left center;
    flex: 40%;
}
#cover-text, #cover-text h2 {
    color: #000000;
}
#cover-text {
    font-size: 90%;
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 350px;
    height: 50px;
    background-color: rgba(255, 127, 63, .6);
    top: 364px;
    bottom: 30px;
    left : 150px;
    padding-top: 20px;
    position: absolute;
}
#cover-text a {
    text-align: center;
    text-decoration: none;
}
/* Travel div*/
#travel {
    width: auto;
    height: 380px;
    flex: 50%;
    padding-top: 20px;
}
#travel h2 {
    text-align: center;
}
#travel p {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}
#quote1 {
    padding-top: 30px;
}
#quote2 {
    padding-top: 40px;
}
#jc {
    padding-top: 40px;
    float: right;
}
#travel a {
    text-decoration: none;
}
#info-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    shape-outside: margin-box;
    float: right;
    background: url(/assets/images/info-img.webp) no-repeat center center ;
    overflow: hidden;
}
#info h2 {
    text-align: center;
}
#info p{
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    line-height: 20px;
}
#info a {
    text-decoration: none;
}
/* Trips section */
#trips div {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #FF7F3F;
    box-sizing: border-box;
}
#trips h1{
    text-align: center;
}
#trips h2{
    color: #ffffff;
}
#trip{
    color: #000000;
}
.img4 > h3{
    padding-top: 50%;
}
.img1{
    background-image: url(/assets/images/amsterdam.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
.img2{
    background-image: url(/assets/images/barcelona-sgf.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
.img3{
    background-image: url(/assets/images/fcbarcelona-fc.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
.img4{
    background-image: url(/assets/images/camp-nou.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
/* Footer */
footer{
    background-color: #ffffff;;
    width: 100%;
    
    display: inline-block;
}
.social-networks{
    text-align: center;
}
.social-networks li{
    display: inline;
    box-shadow: 0 10px 10px rgba(255, 127, 63, 1);
}
.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}
/* Social media icons hover */
.fa-facebook:hover {
    color: rgb(11, 74, 199);
}
.fa-twitter:hover {
    color: rgb(29, 161, 242);
}
.fa-youtube:hover {
    color: rgb(255, 0, 0) ;
}
.fa-instagram:hover {
    color: rgb(193, 53, 132) ;
}
/* Photos */
.container{
	width: 100%;
	height: 100%;
}
.trans{
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top{
	display: flex;
	width: 80vw;
	height: 80vh;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
}
.top ul{
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li{
	position: relative;
	float: left;
	width: 25%;
    height: 25%;
	
	overflow: hidden;
}

.top ul li::before{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.form-section {
    clear: left;
    background: url(/assets/images/bg-signup.webp);
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin: 200px 10% 0 0;
    color: #ffffff;
    background-color: rgba(46, 18, 2, 0.534);
    max-width: 400px;
    position: absolute;
    left: 70%;
    padding: 30px;
}
.signup-form > h2 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}
.text-input {
    background: transparent;
    color: #ffffff;
    width:100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffffff;
    border-radius: 2px;
}
.text-input:hover {
    border-color: #FF7F3F;
}
.text-input::placeholder{
    color: #ffffff;
}
.explore-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #FF7F3F;
    color: #ffffff;
    display:block;
}
.explore-button:hover {
    background-color:#ffffff;
    color:#FF7F3F;
}
/* About us page*/
.paragraf-section h1 {
    text-align: center;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #FF7F3F;
    border-width: 5px;
    width: 100%;
}
.paragraf-section {
    text-align: center;
}
.paragraf-section p {
    width: 50%;
    text-align: center;
    margin: auto;
}
